@import 'tailwindcss';

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);

  --bg-dark: #1E1E1E;
}

html {
  font-size: 12px;
  background-color: var(--bg-dark);
}

@media (max-width:720px) {
  html {
    font-size: 10px;
  }
}

@media (min-width:1024px) {
  html {
    font-size: 14px;
  }
}

.bg-default {
  background: radial-gradient(circle, #1d1d1d, #141414);
}

body {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

small {
  font-size: 1rem;
}

button {
  display: flex;
  align-items: center;

  height: 2.5rem;
  width: fit-content;
  cursor: pointer;

  padding: 1em;

  border-bottom: solid 1px rgba(255, 255, 255, 0);

  transition: all ease-in-out 0.3s;
}

button img {
  height: 1em;
  width: fit-content;
  margin-left: 1em;
}

input {
  background-color: #272727;
  color: #b1b1b1;
  
  padding: 0.5em;
  
  outline: none;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}

input:focus {
  border-color: rgba(255, 255, 255, 1);
  color: white;
}